*.pt filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
sqldb0 filter=lfs diff=lfs merge=lfs -text
sqldb1 filter=lfs diff=lfs merge=lfs -text
sqldb2 filter=lfs diff=lfs merge=lfs -text
